<h1>Apartments</h1>
<div class='container text-center' style="max-width: 800px">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Building</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.number %></td>
        <td><%= apartment.building.name %></td>
        <td><%= link_to "Show", :action => :show, :id => apartment.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Apartment", apartment_new_path %>